* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

body {
    text-align: center;
}
div.demo{
    display: inline-block;
    
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;

    cursor: pointer;
}

div.demo:hover {
    background-color: #eee;
}

div.tooltip {
  -webkit-animation-duration: .05s;
  -moz-animation-duration: .05s;
  -o-animation-duration: .05s;
  animation-duration: .05s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

div.tooltip div.arrow{
    position: absolute;
    display: inline-block;

}

div.tooltip div.arrow.top {
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid rgba(0,0,0,.75);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

div.tooltip div.arrow.right {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgba(0,0,0,.75);
}

div.tooltip div.arrow.bottom {
    left: 50%;
    top: -8px;
    margin-left: -8px;
    border-bottom: 8px solid rgba(0,0,0,.75);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

div.tooltip div.arrow.left {
    top: 50%;
    right: -8px;
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0,0,0,.75);
}

div.tooltip div.text {
    padding: 3px 8px;
    border-radius: 4px;
    
    color: #fffl
    text-align:center;
    font-size: 14px;
    color: white;
    background-color: rgba(0,0,0,.75);

}

        